

    <% pageCSS = ["receipt"]; %>

    <div class="container">
        <h1> Receipt Parser </h1>

        <input type="file" id="receiptInput" accept="image/*" />
        <button id="uploadBtn">Upload & Parse</button>

        <div>
            <img id="preview" />
        </div>

        <div id="resultBox"></div>
    </div>

    <script src="/receipt.js"></script>

